
	<!-- Banner -->
	<div id="banner-wrapper">
		<div id="banner" class="box container">
			<div class="row">
				<div class="7u">
					<h2>Bagage Entre Particuliers</h2>
					<p>la solution écologique et pas cher des transport des bagages</p>
				</div>
				<div class="5u">
					<ul>
						<li><%=link_to 'Expediteurs', offers_path, class: 'button big icon fa-cubes'%></li>
						<li><%=link_to 'Transporteurs', orders_path, class: 'button alt big icon fa-cab'%></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class='clear'></div>
	<div>
		<table class='default' >
			<thead>
				<tr>
					<th>depart</th>
					<th>destination</th>
				</tr>
			</thead>
			<tbody>
				<% Offer.all.each do |offer|%>
					<tr>
						<td><%= offer.departure %></td>
						<td><%= offer.destination %></td>
					</tr>		
				<% end %>
			</tbody>
		</table>
		
	</div>



	<%=render 'footer'%>
