
	<!-- Banner -->
	<div id="banner-wrapper">
		<div id="banner" class="box container">
			<div class="row">
				<div class="7u">
					<h2>Bagage Entre Particuliers</h2>
					<p>la solution écologique et pas cher des transport des bagages</p>
				</div>
				<div class="5u">
					<ul>
						<li><%=link_to 'Expediteurs', offers_path, class: 'button big icon fa-cubes'%></li>
						<li><%=link_to 'Transporteurs', orders_path, class: 'button alt big icon fa-cab'%></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Features -->
	<div id="features-wrapper">
		<div class="container">
			<div class="row">
				<div class="4u">
				
					<!-- Box -->
						<section class="box feature">
							<a href="#" class="image featured"><%=image_tag 'pic01.jpg', alt: ''%></a>
							<div class="inner">
								<header>
									<h2>Put something here</h2>
									<p>Maybe here as well I think</p>
								</header>
								<p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
							</div>
						</section>

				</div>
				<div class="4u">
				
					<!-- Box -->
						<section class="box feature">
							<a href="#" class="image featured"><%=image_tag 'pic02.jpg', alt: ''%></a>
							<div class="inner">
								<header>
									<h2>An interesting title</h2>
									<p>This is also an interesting subtitle</p>
								</header>
								<p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
							</div>
						</section>

				</div>
				<div class="4u">
				
					<!-- Box -->
						<section class="box feature last">
							<a href="#" class="image featured"><%=image_tag 'pic03.jpg', alt: ''%></a>
							<div class="inner">
								<header>
									<h2>Oh, and finally ...</h2>
									<p>Here's another intriguing subtitle</p>
								</header>
								<p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
							</div>
						</section>

				</div>
			</div>
		</div>
	</div>

	<%=render 'footer'%>
